<div class="container">
    <h2>Employee Details</h2>
    <div class="content">
        <span class="data">Sku</span>:{{data?.Sku}}
        <h4><span class="data">Name</span>:{{data?.Name}}</h4>
        <h4><span class="data">DisplayName</span>:{{data?.DisplayName}}</h4>
        <h4><span class="data">SellingPrice</span>:{{data?.SellingPrice}}</h4>
        <h4><span class="data">BasePrice</span>:{{data?.BasePrice}}</h4>
        <h4><span class="data">description</span>:{{data?.Description   }}</h4>
    </div>
    <button mat-raised-button color="primary" routerLink="/dashboard/items">Back</button>
</div>
