<div class="container">
    <h1>Employee Details</h1>
    <div class="content">
        <h4><span class="data">Name</span>:{{data.Sku}}</h4>
        <h4><span class="data">Last Name</span>:{{data.Name}}</h4>
        <h4><span class="data">Email</span>:{{data.DisplayName}}</h4>
        <h4><span class="data">Dob</span>:{{data.SellingPrice}}</h4>
        <h4><span class="data">Education</span>:{{data.BasePrice}}</h4>
        <h4><span class="data">Company</span>:{{data.Description   }}</h4>

    </div>
    <button mat-raised-button color="primary" routerLink="/dashboard">Back</button>
</div>
