<form [formGroup]="loginFormGroup" class="loginwrap">
<mat-card class="mat-card" >
     <h1>Login</h1>
      <div>
        <mat-form-field class="mat-form-field " appearance="outline">
          <mat-label>
            UserName
          </mat-label>
          <input matInput placeholder="Enter UserName"  formControlName="userName">
          <mat-error *ngIf="loginFormGroup.controls['userName'].touched && loginFormGroup.controls['userName'].errors?.['required']">Username required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-form-field " appearance="outline">
        <mat-label>
          Password
        </mat-label>
        <input matInput placeholder="Enter Password" formControlName="password">
        <mat-error *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].errors?.['required']">password required</mat-error>
        <mat-error *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].errors?.['pattern']">Password must have alphanumaric and special charcters </mat-error>
      </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <mat-error *ngIf="loginCheck">UserNot Found please sign up</mat-error>
      <a routerLink="/signUp">signUp</a>
  </mat-card>
</form>