<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title >Change Password</h1>
  <div mat-dialog-content>
    <div style="margin-top: 5px;">
      <mat-form-field appearance="outline"> 
        <mat-label>
         Current Password
        </mat-label>
        <input type="text" matInput formControlName="currentPassword">
        
        <mat-error *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.hasError('required')">current password required</mat-error>
       <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('passwordMatch')">
        password does not match
      </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" >
        <mat-label>
         New Password
        </mat-label>
        <input type="text" matInput formControlName="newPassword">
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('required')">new password required</mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('pattern')">Password must have alphanumaric and special charcters</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
         Confirm Password
        </mat-label>
        <input type="text" matInput formControlName="confirmPassword">
        <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.hasError('required')">confirm password required</mat-error>
        <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['confirmPassMatch']">Password doesn't match with new Password</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">submit</button>
    <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
  </div>
</form>
