<form [formGroup]="formGroup" class="loginwrap">
    <mat-card class="mat-card" >
         <h1>SignUp</h1>
          <div>
            <mat-form-field class="mat-form-field " appearance="outline">
              <mat-label>
                UserName
              </mat-label>
              <input matInput placeholder="Enter UserName"  formControlName="userName">
              <mat-error *ngIf="formGroup.controls['userName'].touched && formGroup.controls['userName'].errors?.['required']">Username required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="mat-form-field " appearance="outline">
            <mat-label>
              Password
            </mat-label>
            <input matInput placeholder="Enter Password" formControlName="password">
            <mat-error *ngIf="formGroup.controls['password'].touched && formGroup.controls['password'].errors?.['required']">password required</mat-error>
            <mat-error *ngIf="formGroup.controls['password'].touched && formGroup.controls['password'].errors?.['pattern']">Password must have alphanumaric and special charcters </mat-error>
          </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="signUp()">SignUp</button>
      </mat-card>
    </form>