<div mat-dialog-title>
      Employee Form
</div>
<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
       <mat-form-field appearance="outline">
        <mat-label>Sku</mat-label>
        <input matInput placeholder="Ex. nagendra" formControlName="Sku" />
        <mat-error *ngIf="empForm.controls['Sku'].touched && empForm.controls['Sku'].errors?.['required']">
          Sku is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Gandham" formControlName="Name">
        <mat-error *ngIf="empForm.controls['Name'].touched && empForm.controls['Name'].errors?.['required']">
          Name is required
        </mat-error>
      </mat-form-field>
    </div>
       <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>DisplayName</mat-label>
            <input matInput placeholder="Ex.  abc@gmail.com" formControlName="DisplayName">
            <mat-error *ngIf="empForm.controls['DisplayName'].touched && empForm.controls['DisplayName'].errors?.['required']">
              DisplayName is required
            </mat-error>
        </mat-form-field>
       </div>
       <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>SellingPrice</mat-label>
            <input matInput placeholder="Ex. LogiSoft" formControlName="SellingPrice">
            <mat-error *ngIf="empForm.controls['SellingPrice'].touched && empForm.controls['SellingPrice'].errors?.['required']">
             SellingPrice is required
            </mat-error>
          </mat-form-field>
       </div>
       <div class="row">
        <mat-form-field appearance="outline" >
            <mat-label>BasePrice</mat-label>
            <input matInput placeholder="Ex. 2 years" type="number" formControlName="BasePrice">
            <mat-error *ngIf="empForm.controls['BasePrice'].touched && empForm.controls['BasePrice'].errors?.['required']">
              BasePrice is required
            </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Ex. Quality is good" type="text" formControlName="Description">
        </mat-form-field>
       </div>
       <!-- <div class="row" *ngFor="let number of addPNumber;let i=index">
        <div formArrayName="phoneNumbers">
          <mat-form-field appearance="outline">
            <mat-label>Phone number</mat-label>
            <input matInput type="number" placeholder="Enter PhoneNumber" [formControlName]="i.toString()" >
            <mat-error *ngIf="empForm.get('phoneNumbers')?.get(i.toString())?.touched && empForm.get('phoneNumbers')?.get(i.toString())?.hasError('required')">
              phone number is required
            </mat-error>
          </mat-form-field> 
        </div>
        <button mat-raised-button type="button" color="warn" (click)="remove(i)" [disabled]="disableCancel()" >Remove</button>
       </div>
       <button mat-raised-button type="button" color="accent" (click)="addNumber()">Add PhoneNumber</button> -->
</div>
<div mat-dialog-actions>
    <button mat-raised-button type="button"  routerLink="/dashboard">cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data? 'Update':'save'}}</button>
</div>
</form>
